<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Project Management - Register</title>
    <link rel = "stylesheet" type = "text/css" href = "/style.css"/> <!--w finalnej wersji zmienić ścieżkę na style.css-->
    <link rel = "stylesheet" type = "text/css" href = "/register.css"/>
</head>
<body>
<div class="top-bar">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/panel">My profile</a></li>
    </ul>
</div>
<header>
    <div class = "top-bar">
        <h1 class = "logo">Project Management</h1>
    </div>
    <div class = "head_part" style = "text-align: right;">

    </div>
</header>
<div id = "container">
    <main style = "height: 800px;">
        <h2>Creating new Project</h2>

        <form id = "project_creation" th:action = "@{/create_project}" method = "post" th:object = "${projects}">

            <div class = "half_form">
                <fieldset class = "class_field"><legend>Project Name</legend>
                    <input class = "form_text_block" th:field = "*{projectName}" type = "text" required/>
                </fieldset>

                <br/><input id = "CREATE" type = "submit" value = "Create new Project"/>
            </div>

        </form>

    </main>
</div>
<footer>
    <h5>Authors: Izabela Noga, Jakub Ginczelewski</h5>
</footer>
</body>
</html>
