<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Project Management - Home</title>
    <link rel = "stylesheet" type = "text/css" href = "/style.css"/> <!--w finalnej wersji zmienić ścieżkę na style.css-->
</head>
<body>
    <header>
        <div class = "head_part">
            <h1 class = "logo">Project Management Application</h1>
        </div>
        <div class = "head_part" style = "text-align: right;">
            <br/>
<!--            <div th:if = "${session.user}" id = "user_card" style = "border: cornflowerblue 1px dashed; width: 256px !important; font-size: 20px; padding: 8px; margin-left: 666px;">-->
<!--                <span th:if = "${session.user}">Hello <span th:text = "${session.user.first_name}"/>!</span><br/>-->
<!--                <form th:if="${session.user != null}" action = "/logout" method = "post">-->
<!--                    <a href = "/panel"><input type = "button" value = "User's panel"/></a>-->
<!--                    <input type="submit" value = "Logout"/>-->
<!--                </form>-->
<!--            </div>-->

            <a th:if = "${session.user == null}" href = "/sign-in"><input class = "nav_button" type = "button" value = "Sign in"/></a>
            <a th:if = "${session.user == null}" href = "/register"><input class = "nav_button" type = "button" value = "Register"/></a>
        </div>
    </header>
<!--    <div id = "container">-->
        <nav id = "side_nav">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/">Projects</a></li>
                <li><a href = "/">Notifications</a></li>
                <li><a href = "/">Calendar</a></li>
                <li><a href = "/">Tasks</a></li>
                <li><a href = "/">Reports</a></li>
<!--                <ul>-->
<!--                    <li><a href = "/courses">Courses</a></li>-->
<!--                    <ul>-->
<!--                        <li><a href = "/courses/it">IT Department</a></li>-->
<!--                        <li><a href = "/courses/"> Faculty</a></li>-->
<!--                    </ul>-->
<!--                    <li><a href = "#">My courses</a></li>-->
<!--                    <ul>-->
<!--                        <li><a href = "/my-courses/course-1">Course 1</a></li>-->
<!--                        <li><a href = "#">Course 2</a></li>-->
<!--                    </ul>-->
<!--                </ul>-->
            </ul>
        </nav>
        <main style = "height: 800px;">
            <h2>Welcome to our platform!</h2>
            <p>Tutaj opis projektu</p>

            <p> </p>
            <p> </p>
            <!--Exemplary sites: Courses (IT Department), Course 1-->
        </main>
    </div>
    <footer>
        <h5>Authors: Izabela Noga</h5>
    </footer>
</body>
</html>
