<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Project Management - Home</title>
    <link rel = "stylesheet" type = "text/css" href = "/style.css"/> <!--w finalnej wersji zmienić ścieżkę na style.css-->
</head>
<body>
<div class="top-bar">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/reports">Reports</a></li>
    </ul>
</div>
<header>
    <div class = "head_part">
        <h1 class = "logo">Project Management Application</h1>
    </div>
    <div class = "head_part" style = "text-align: right;">
        <br/>
        <div th:if = "${session.user}" id = "user_card" style = "width: 256px !important; font-size: 20px; padding: 8px; margin-left: 666px;">
      <span th:if = "${session.user}">Logged as <span th:text = "${session.user.first_name}">!</span> <span th:text = "${session.user.last_name}">!</span><br/>
      <form th:if="${session.user != null}" action = "/logout" method = "post">
        <a href = "/panel"><input type = "button" value = "My profile"/></a>
        <input type="submit" value = "Logout"/>
      </form>
        </div>
    </div>
</header>
<div id = "container">
    <main style = "height: 800px;">
        <h2>There are no new notifications for user <span th:text = "${session.user.first_name}">!</span> <span th:text = "${session.user.last_name}">!</span></h2>
        <p> </p>
        <p> </p>
        <!--Exemplary sites: Courses (IT Department), Course 1-->
    </main>
</div>
<footer>
    <h5>Authors: Izabela Noga, Jakub Ginczelewski</h5>
</footer>
</body>
</html>
