<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Project Management - Home</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div class="top-bar">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/notifications">Notifications</a></li>
    <li><a href="/reports">Reports</a></li>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/panel">My profile</a></li>
  </ul>
</div>
<header>

  <div class="head_part">
    <h1 class="logo">Project Management</h1>
  </div>
  <div class="head_part" style="text-align: right;">
    <br/>
    <div th:if="${session.user}" id="user_card" style="width: 256px !important; font-size: 20px; padding: 8px; margin-left: 666px;">
      <span th:if="${session.user}">Logged as </span><span th:text="${session.user.first_name}">!</span> <span th:text="${session.user.last_name}">!</span><br/>
      <form th:if="${session.user != null}" action="/logout" method="post">
        <input type="submit" value="Logout"/>
      </form>
    </div>
  </div>
</header>
<div id = "container">
  <main style = "height: 800px;">
    <h2>Currently open projects:</h2>
    <td th:switch="${currentProjects.size()}">
      <h3 th:case="'0'">NO PROJECTS YET!</h3>
      <ul th:case="*">
        <li th:each="project:${currentProjects}" th:text="${project.getProjectName()}"/>
      </ul>
    </td>
    <p th:if = "${!session.user.isClient()}">(To find projects assigned for <span th:text = "${session.user.getFirst_name()}">!</span> <span th:text = "${session.user.last_name}">!</span> go to <a href="/panel" style="text-decoration: underline;">My profile</a> tab)</p>
    <p> </p>
    <div th:if="${session.user.isProjectManager()}" >
      <a href = "/create_project"><input type = "button" value = "Create New Project"/></a>
    </div>
  </main>
</div>
</body>
</html>
